* {
    margin: 0;
    background-color: rgba(44, 48, 67, 255);
}

.grid-container {
    display: grid;
    margin: 20px;
    height: 90vh;
    grid-template-columns: 35% 15% 1fr;
    grid-template-rows: 37.5% 50% 12.5%;
    grid-template-areas: "header1 header1 header2 header2" "main sidebar sidebar sidebar" "footer footer footer footer";
    gap: 20px;
}

.grid-item-1 {
    background-color: rgba(238, 128, 90, 255);
    grid-area: header1;
}

.grid-item-2 {
    background-color: rgba(235, 93, 84, 255);
    grid-area: header2;
}

.grid-item-3 {
    background-color: rgba(81, 168, 136, 255);
    grid-area: main;
}

.grid-item-4 {
    background-color: rgba(94, 194, 161, 255);
    grid-area: sidebar;
}

.grid-item-5 {
    background-color: rgba(242, 159, 95, 255);
    grid-area: footer;
}