* {
    margin: 0;
    background-color: rgba(44, 48, 67, 255);
}

.grid-container {
    display: grid;
    margin: 20px;
    height: 95vh;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.grid-item-1 {
    background-color: rgba(81, 168, 136, 255);
    /* dark green */
}

.grid-item-2 {
    background-color: rgba(238, 128, 90, 255);
    /* orange */
}

.grid-item-3 {
    background-color: rgba(94, 194, 161, 255);
    /* mid green */
}

.grid-item-4 {
    background-color: rgba(235, 93, 84, 255);
    /* red */
}

.grid-item-5 {
    background-color: rgba(107, 219, 187, 255);
    /* light green */
}

.grid-item-6 {
    background-color: rgba(238, 128, 90, 255);
    /* orange */
}

.grid-item-7 {
    background-color: rgba(242, 159, 95, 255);
    /* yellow */
}

.grid-item-8 {
    background-color: rgba(81, 168, 136, 255);
    /* dark green */
}

.grid-item-9 {
    background-color: rgba(238, 128, 90, 255);
    /* orange */
}

.grid-item-10 {
    background-color: rgba(94, 194, 161, 255);
    /* mid green */
}

.grid-item-11 {
    background-color: rgba(242, 159, 95, 255);
    /* yellow */
}

.grid-item-12 {
    background-color: rgba(235, 93, 84, 255);
    /* red */
}

.grid-item-13 {
    background-color: rgba(81, 168, 136, 255);
    /* dark green */
}

.grid-item-14 {
    background-color: rgba(235, 93, 84, 255);
    /* red */
}

.grid-item-15 {
    background-color: rgba(107, 219, 187, 255);
    /* light green */
}

.grid-item-16 {
    background-color: rgba(238, 128, 90, 255);
    /* orange */
}

.grid-item-17 {
    background-color: rgba(81, 168, 136, 255);
    /* dark green */
}

.grid-item-18 {
    background-color: rgba(107, 219, 187, 255);
    /* light green */
}