* {
    margin: 0;
    background-color: rgba(44, 48, 67, 255);
}

.grid-container {
    display: grid;
    margin: 20px;
    height: 95vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "header header header" "main sidebar sidebar" "main sidebar sidebar" "main bottom1 bottom2" "main bottom1 bottom2";
    gap: 20px;
}

.grid-item-1 {
    background-color: rgba(242, 159, 95, 255);
    /* yellow */
    grid-area: header;
}

.grid-item-2 {
    background-color: rgba(81, 168, 136, 255);
    /* dark green */
    grid-area: main;
}

.grid-item-3 {
    background-color: rgba(107, 219, 187, 255);
    /* light green */
    grid-area: sidebar;
}

.grid-item-4 {
    background-color: rgba(235, 93, 84, 255);
    /* red */
    grid-area: bottom1;
}

.grid-item-5 {
    background-color: rgba(238, 128, 90, 255);
    /* orange */
    grid-area: bottom2;
}