* {
    margin: 0;
    background-color: rgba(44, 48, 67, 255);
}

.grid-container {
    display: grid;
    margin: 20px;
    height: 95vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "header1 header2" "main sidebar" "main sidebar" "main sidebar" "main sidebar";
    gap: 20px;
}

.grid-item-1 {
    background-color: rgba(242, 159, 95, 255);
    grid-area: header1;
}

.grid-item-2 {
    background-color: rgba(107, 219, 187, 255);
    grid-area: header2;
}

.grid-item-3 {
    background-color: rgba(235, 93, 84, 255);
    grid-area: main;
}

.grid-item-4 {
    background-color: rgba(81, 168, 136, 255);
    padding: 30px;
    grid-area: sidebar;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "subheader subheader" "submain subsidebar" "submain subsidebar" "submain subsidebar";
    gap: 20px;
}

.grid-subitem-a {
    background-color: rgba(107, 219, 187, 255);
    grid-area: subheader;
}

.grid-subitem-b {
    background-color: rgba(94, 194, 161, 255);
    grid-area: submain;
}

.grid-subitem-c {
    background-color: rgba(242, 159, 95, 255);
    grid-area: subsidebar;
}